#title {
    text-align: center;
    font-family: arial, sans-serif;
  }
  
  #filesAvailable {
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 3px solid #ddd;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  
  #filesAvailable td, #filesAvailable th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #filesAvailable tr:nth-child(even){background-color: #f2f2f2;}
  
  #filesAvailable tr:hover {background-color: #ddd;}
  
  #filesAvailable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: rgb(151, 39, 45);
    color: white;
  }
  