.navBar{
    position: sticky;
    background-color: rgb(158, 7, 7);
    width:100%;
}

.brand{
    color:white;
}

.signOut{
    position: absolute;
    right: 10px;
    color:red;
}




#dropdown-basic{
    background-color: rgb(158, 7, 7);
    color: rgb(255, 255, 255);
    border-bottom: 10%
        ;}


#barDec{
    color: rgb(255, 255, 255);
    float:right;


}


#bar{
    color: rgb(255, 255, 255);
    float:right;

}