@media all and (min-width: 480px) {
    .Login {
      padding: 60px 0;
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 320px;
    }

    .signUp{
      margin: 0 auto;
      max-width: 320px;
      margin-top: 2%;
    }
  }
  